

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  color: #fff;
  padding :10px 8%;
position: relative;
}
.logo {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  .logo span {
    color:rgb(17, 16, 16);
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    z-index: 10;
    font-size: 20px;

  }
  nav ul{
    flex: 1;
    text-align: center;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    padding: 5px 15px;
  }
  nav a{
    text-decoration: none;
    color: rgb(168, 195, 200);
  }
  nav a:hover{
    background: #7b9ec7;
    color: #3c3b3d;
    transition: smooth 0.7s;
  }
  .text-box{
    margin-top: 18%;
    max-width: 600px;
  }
  .text-box h1{
    font-size: 70px;
    line-height: 90px;
    font-weight: 500px;
    margin-bottom:10px ;
    color: #3c3b3d;
  }
  .text-box p{
    line-height: 28px;
  }
  .text-box button{
    padding: 20px 40px;
    background: white;
    border: 0;
    outline: 0;
    margin-top: 0;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 50px;
    font-weight: 500px;
    cursor: pointer;
    font-size: 13px;
    color: rgb(70, 165, 182);
}
.text-box button:last-child{
    background: rgb(56, 54, 54);
    color: #fff;
}
.text-box button a{
  text-decoration: none;
}
.img{
    width: 400px;
    position: absolute;
    right: 15%;
    top: 18%;
    z-index: 2;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.side{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 32%;
    height: 32%;
    background: linear-gradient( #7b9ec7, #3c3b3d);
    z-index: 1;
}
#about{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  color: #fff;
  padding :10px 8%;
position: relative;
}
#service{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  color: #fff;
  padding :10px 8%;
position: relative;
}
#service h5{
  color:black;
}
#service p{
  color:black;
}
#blogs{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  color: #fff;
  padding :10px 8%;
position: relative;
}
#pricing{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  color: #fff;
  padding :10px 8%;
position: relative;
}
#contact{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  color: #fff;
  padding :10px 8%;
position: relative;
}
.location{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #7b9ec7, #3c3b3d 70%, rgb(59, 57, 57) 70%);
  flex-direction: column;

}
.location h1{
  color:white;
  margin-bottom: 60px;
}
iframe{
  width: 90%;
  height: 600px;
}
 
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form-group{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.form-group label{
  flex-basis: 28%;
}
.form-group input, .form-group textarea{
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}
::placeholder{
  font-size: 14px;
}

form button{
  background:orangered;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}
.form-group span{
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: red;
}
#submit-error{
  color: red;
}
.form-group span i{
  color: seagreen;
}

/*filter:invert(100%);